<div class="mt-4">
    <h3>Tao moi khoa hoc</h3>
    <div class="">
        <form action="/courses/store" method="post">
            <div class="mb-3">
                <label for="courseName" class="form-label">Ten khoa hoc</label>
                <input type="text" class="form-control" id="courseName" placeholder="courseName">
            </div>
            <div class="mb-3">
                <label for="descriptionCourse" class="form-label">Mo ta khoa hoc</label>
                <textarea class="form-control" id="descriptionCourse" rows="3" placeholder="Mo ta khoa hoc"></textarea>
            </div>
            <div class="mb-3">
                <label for="videoid" class="form-label">Video Id</label>
                <input type="text" class="form-control" id="videoid" placeholder="videoid">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Tao khoa hoc</button>
            </div>
        </form>
    </div>
</div>