<div class="mt-4">
    <h3>Tao moi khoa hoc</h3>
    <div class="">
        <form action="/courses/store" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Ten khoa hoc</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Ten khoa hoc">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mo ta khoa hoc</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Mo ta khoa hoc">
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">Video Id</label>
                <input type="text" class="form-control" name="videoId" id="videoId" placeholder="Video id">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Tao khoa hoc</button>
            </div>
        </form>
    </div>
</div>